body {
    background-color: #2c3e50;
    margin: 0;
}

.container-hide-title {
    top: 0;
    background: #2c3e50;
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 400px 100px 400px repeat(13, 60px);
}

.item-hide-title {
    position: sticky;
    top: 0;
}

.item-hide-title:nth-of-type(1) {
    background: #1abc9c;
    grid-area: 11 / 1;
}

.item-hide-title:nth-of-type(2) {
    background: #1abc9c;
    grid-area: 4 / 2;
}

.item-hide-title:nth-of-type(3) {
    background: #1abc9c;
    grid-area: 8 / 3;
}

.item-hide-title:nth-of-type(4) {
    background: #1abc9c;
    grid-area: 16 / 4;
}

.item-hide-title:nth-of-type(5) {
    background: #1abc9c;
    grid-area: 13 / 5;
}

.item-hide {
    background: #2c3e50;
    color: white;
    grid-area: 2 / 3
}


.container {
    display: grid;
    grid-template-columns: 200px auto auto auto auto;
    grid-template-rows: auto auto auto auto 50px ;
    grid-template-areas:
            "sidebar main main main main"
            "sidebar main main main main"
            "sidebar main main main main"
            "sidebar main main main main"
            "footer footer footer footer footer";
}

.sidebar {
    height: 100%;
    grid-area: sidebar;
    background-color: #ecf0f1;
}

.sub-sidebar {
    position: sticky;
    top: 0;
}

.main{
    grid-area: main;
    background-color: antiquewhite;
    padding: 15px;
}

.footer {
    grid-area: footer;
    background-color: aquamarine;
}

.button-sidebar {
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    color: #2c3e50;
    padding: 15px 15px 15px 15px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
}

.button-sidebar:hover {
    background-color: antiquewhite;
}

.sub-button {
    padding: 5px 15px 5px 22px;
}

page-title {
    z-index: 1;
    top: 0;
    position: sticky;
    color: #2c3e50;
    font-family: 'Courier New', serif;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    padding: 5px 20px;
}

.section-title {
    color: #2c3e50;
    font-family: 'Courier New', serif;
    margin: 10px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.transition{
    transition-property: font-size, color;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.8, 1.5);
}

.transition:hover {
    color: #F48024;
    font-size: 80px;
}

@keyframes swing {
    20% {
        transform-origin: 50% -500%;
       transform: rotate(50deg);}

    50% {
        transform-origin: 50% -500%;
        transform: rotate(-38deg);}

    76% {transform-origin: 50% -500%;
        transform: rotate(20deg);}

    to {transform-origin: 50% -500%;
        transform: rotate(0deg);    }
}

.swing {

    animation-name: swing;
}

.animated {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.title-animation:hover {
    animation-play-state: running;
    animation: swing;
    animation-duration: 2s;
}

.title-animation {
    display: inline-block;
}